/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #f4f4f4;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #121212;
}

header .logo img {
    max-width: 120px;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 16px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #00bcd4;
}

/* Hero Section */
#hero {
    background-color: #333;
    padding: 80px 20px;
    text-align: center;
}

#hero h1 {
    font-size: 36px;
    color: #00bcd4;
    margin-bottom: 20px;
}

#hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #00bcd4;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.cta-button:hover {
    background-color: #008c99;
}

/* Section */
section {
    padding: 60px 20px;
    text-align: center;
}

/* Subtitles */
section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #f4f4f4;
}

/* Core Item */
.core-item {
    margin-bottom: 30px;
}

.core-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #00bcd4;
}

.core-item p {
    font-size: 18px;
    color: #ccc;
}

/* Timeline */
.timeline-item {
    margin-bottom: 30px;
}

.timeline-item h3 {
    font-size: 24px;
    color: #f4f4f4;
}

.timeline-item .update-content {
    text-align: left;
    margin-top: 10px;
    padding: 20px;
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.timeline-item .update-content h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.timeline-item .update-content ul {
    list-style-type: none;
    font-size: 16px;
    color: #bbb;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #121212;
    color: #bbb;
}
